<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="6" android:versionName="1.0.2-androidup" package="xyz.glitchypsi.cmtppatcher" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="31" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<application android:label="CometCHAR Patcher" android:theme="@style/MainTheme" android:icon="@drawable/appicon"></application>
</manifest>